* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Times New Roman", serif;
    background-color: #927355 ;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.auth-container {
    background-color:#e5cd9e; 
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
    width: 320px;
}

h2 {
    font-size: 2rem;
    color: #4a6a6d;
    text-align: center;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #cb541e;
    border-radius: 5px;
    font-size: 1rem;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #cb541e;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #ff6b3d;
}

p {
    margin-top: 10px;
    text-align: center;
}

a {
    color: #cb541e;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* Dashboard styles */
.dashboard-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    width: 400px;
    text-align: center;
}

.dashboard-container h1 {
    color: #4a6a6d;
    margin-bottom: 15px;
}

.dashboard-content {
    margin-bottom: 20px;
}

.dashboard-content p {
    font-size: 1.1rem;
    color: #333;
    margin: 5px 0;
}

button {
    padding: 12px 25px;
    background-color: #cb541e;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ff6b3d;
}
